<!DOCTYPE html>

<html>

<head>
  <title>buzatina.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"> -->
<link href="https://fonts.googleapis.com/css?family=PT+Mono" rel="stylesheet">

<script src="moment.min.js"></script>
<script type="text/javascript" src="jsbn.js"></script>
<script type="text/javascript" src="jsbn2.js"></script>
<script type="text/javascript" src="sjcl.js"></script>
<script type="text/javascript" src="aws-cognito-sdk.min.js"></script>
<script type="text/javascript" src="amazon-cognito-identity.min.js"></script>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.3.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
 
<style>
    body {
      font-family: 'PT Mono', monospace;
      font-size: 13px;
    }

    h6 {
      font-family: 'PT Mono', monospace;
      font-size: 13px;
    }

    h5 {
      font-family: 'PT Mono', monospace;
      font-size: 13px;
    }

    h4 {
      font-family: 'PT Mono', monospace;
      font-size: 13px;
    }

    h3 {
      font-family: 'PT Mono', monospace;
      font-size: 13px;
    }

    a {
      color: #2a2b2b
    }    

    .navbar {
        border-bottom: 1px solid #d9d8d5;
    }  
</style>

</head>

<body style="background-color: #fdfdfd">

<nav class="navbar" style=" margin-bottom: 0px; margin-left: 0px; width: 100%; background-color: white;">

    <div class="container-fluid">
      
      <!-- Logo -->
      <div class="navbar-header">
          
          <a href="/">
            <img style="height: 45px; margin-top: 10px; margin-left: 5px; margin-bottom: 5px;" alt="buzatina.com" src="   
https://s3-us-west-2.amazonaws.com/uploadtebogo/buzatina.JPG"></img>
          </a>
          
          <button style="color: #1b96fe;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span style="background-color: black;" class="icon-bar"></span>
            <span style="background-color: black;" class="icon-bar"></span>
            <span style="background-color: black;" class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-left"></a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 0px; padding-top: 0px;">

        <ul class="nav navbar-nav navbar-right" style="margin-top: 0px; padding-top: 0px;">

          <li id="logoImage"><a href="#" data-toggle="collapse" data-target="#myNavbar"><img style="height: 40px; padding-top: 0px; margin-top: 0px; display: none;" src="" id="logoImageSrc"></a></li>
      
          <li id="login"><a href="/login" data-toggle="collapse" data-target="#myNavbar" style="color: #2a2b2b">Sign In</a></li>

          <li id="signUp"><a href="/signUp" class="btn" style="background-color: #312929; color: white;" data-toggle="collapse" data-target="#myNavbar" style="color: #2a2b2b">Sign Up</a></li>

          <li id="settings" style="display: none;"><a href="/settings" data-toggle="collapse" data-target="#myNavbar" style="color: #2a2b2b"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>

          <li id="signOut" style="display: none; color: #2a2b2b"><a href="#" data-toggle="collapse" data-target="#myNavbar" style="color: #2a2b2b">Sign Out</a></li>
 
        </ul>

      </div>

    </div>
  </nav>

  <div class="row" style="background-color: #fdfdfd; border-width: 3px; border-bottom-color: black; margin-right: 5px;">

    <div class="col-md-3 col-lg-3"> 
 
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px; margin: 10px;">
          <div id="askForm" style="display: none;">
              <form id="postAdviceForm" class="form-group" style="background-color: white; padding: 10px; border-radius: 5px; border: 1px solid #d9d8d5;">
                  <div class="form-group"><textarea id="idAdvice" ng-model="content" class="form-control sans" placeholder="type question here..." name="contentAdvice" type="text"></textarea>
                  </div>

                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div id="demoTwo" style="width: 100%;"><label for="Country"> Country: </label><br><select id="idCountry" name="countryFilter" ng-model="countryFilter"><option value="">None</option><option value="SouthAfrica">South Africa</option><option value="Nigeria">Nigeria</option><option value="Kenya">Kenya</option><option value="Brazil">Brazil</option><option value="India">India</option><option value="China">China</option></select><br></div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                       <br>
                       <input id="postAdvice" style="color: #312929; width: 80px;" type="submit" class="btn w3-center" value="Ask"></input>
                    </div>

                  </div>
                  <span id="err_question" class="w3-text-blue" style="display: none;"><b>Please ask question above..</b></span>
                  <span id="err_country" class="w3-text-blue" style="display: none;"><b>Please select country above..</b></span>
              </form>
          </div>

          <div id="promptForm" style="background-color: white; padding: 10px; border-radius: 5px; border: 1px solid #d9d8d5;">
             <div><a href="/signUp" style="color: #1b96fe"><b> Sign Up</b></a> or <a href="/login" style="color: #1b96fe"><b>Login</b></a> to get the full buzatina.com experience.</div>
          </div>
          <br>

      <div id="adviceContainer">
      </div>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm">    
    </div>

  </div>

  <script>

      var username;
      var userId;
      var name;
      var profilePicUrl = '';

      console.log('The window location is:' + window.location.href);

      getProfile = function(id){

              AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                            IdentityPoolId: 'us-west-2:318576ae-b109-4473-87a0-800e84c07c24'
                       });
                                                                        
              AWS.config.region = 'us-west-2';
 
                var params = {
                  TableName: 'users',
                  Key: {
                      "userid": id,           
                  }
              };

                dynamodb = new AWS.DynamoDB({ region: 'us-west-2' });
                docClient = new AWS.DynamoDB.DocumentClient({ service: dynamodb });

                docClient.get(params, function(err, data){
                    if (err) {

                        console.log(JSON.stringify(err, null, 2));

                    } else {

                            name =data.Item.Username;
                            profilePicUrl = data.Item.profilePicUrl;

                            localStorage.setItem('name', data.Item.Username);
                            localStorage.setItem('profilePicUrl', data.Item.profilePicUrl);
                            $("#logoImageSrc").attr("src", profilePicUrl);

                        }
                    });

      };

    var getCurrentSession = function(){

          var data = {
              UserPoolId : 'us-west-2_GQQlNpQpu', // Your user pool id here
              ClientId : '2fqeeg1m1vno4l5m4jn4n2gnjv' // Your client id here
          };

          var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(data);

          var cognitoUser = userPool.getCurrentUser();

          if (cognitoUser != null) {
              cognitoUser.getSession(function(err, session) {
                  if (err) {
                     console.log(err);
                  }

                  username = cognitoUser.username;

                  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                      IdentityPoolId : 'us-west-2:f621a9ab-b4f6-454a-8fed-c2a4aa147af4', // your identity pool id here
                      Logins : {
                          // Change the key below according to the specific region your user pool is in.
                          'cognito-idp.us-west-2.amazonaws.com/us-west-2_GQQlNpQpu' : session.getIdToken().getJwtToken()
                      }
                  });

                  var useriduserid = '';
                  cognitoUser.getUserAttributes(function(err, result) {
                      if (err) {
                          return;
                      } else {

                          console.log('Session retrieved');
                        
                          userId = result[2].Value;

                          localStorage.setItem('userId', result[2].Value);
                          localStorage.setItem('username', result[3].Value);

                          //Get Detailed Stuff from DynamoDB
                          getProfile(result[2].Value);

                          $('#login').hide();
                          $('#signUp').hide();
                          $('#signOut').show();
                          $('#settings').show();
                          $('#askForm').show();
                          $('#promptForm').hide();
                          $("#logoImageSrc").show();
                      }
                  }); 

              });          

            };
    };

    $(function(){

      getCurrentSession();

      var socket = io.connect();

      $('#login').show();
      $('#signUp').show();
      $('#signOut').hide();
      $('#settings').hide();
      $("#logoImageSrc").attr("src", "");

      $('#idAdvice').focusout(function(){
         var length = $('#idAdvice').val().length;
         if (length < 1) {

            $('#err_question').show();
          setTimeout(function() {
            $('#err_question').hide();
          }, 5000);

         };
      });

      $('#idCountry').focusout(function(){
         var text = $("#idCountry option:selected").text();

         if (text === 'None') {

            $('#err_country').show();
          setTimeout(function() {
            $('#err_country').hide();
          }, 5000);

         };

      });

      socket.emit('getQuestions', 'This is some data');

      var postAdviceForm = $('#postAdviceForm');
      var idAdvice = $('#idAdvice');
      var idCountry = $('#idCountry');

      $('#signOut').click(function(){
          signOut();
          localStorage.clear();
          $("#logoImageSrc").attr("src", ""); 
          setTimeout(function() {
            window.location.assign("/");
          }, 7000);
      });

    postAdviceForm.submit(function(e){
      console.log(username);
      e.preventDefault();
      
      if ($('#idAdvice').val().length > 0) {

        if ($("#idCountry option:selected").text() != 'None') {

        socket.emit('postQuestionEvent', {question: idAdvice.val(), country: idCountry.val(), username: username, userId: userId, name: name, profilePicUrl: profilePicUrl});

          $(
                    '<div class="row" style="margin: 0px; padding: 0px;">'+

                          '<div class="col-xs-3 col-sm-3 col-md-4 col-lg-4" style="margin-bottom: 5px;">'+
                             '<h6>'+'<b><a href="/profile/'+userId+'">'+name+'<a></b>'+'</h6>'+
                             '<img id="userImg" src="'+profilePicUrl+'" alt="no image" style="height: 65px;"'+userId+'">'+ 
                          '</div>'+

                          '<div class="col-xs-9 col-sm-9 col-md-8 col-lg-8">'+
                              '<h5>'+idAdvice.val()+'? </h5>'+
                          '</div>'
                      +'</div>'+
                       '<hr>'

            ).insertBefore("#adviceContainer");

          $('#idAdvice').val('');

          } else {

            $('#err_country').show();
          setTimeout(function() {
            $('#err_country').hide();
          }, 5000);
            
          };
       } else {

            $('#err_question').show();
          setTimeout(function() {
            $('#err_question').hide();
          }, 5000);

       };
    });
 
      socket.on('gotQuestions', function(data){

        if (data.length > 0){

          var html = '';
          
          for (i=0; i<data.length; i++){
            html += '<div class="row" style="margin: 0px; padding: 0px;">'+

                        '<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-bottom: 5px;">'+
                           '<h6>'+'<b><a href="/profile/'+data[i].author+' ">'+data[i].name+'<a></b>'+'</h6>'+
                           '<img id="userImg" src="'+data[i].userPic+'" alt="no image" style="height: 65px;" data-toggle="modal" data-target="#'+data[i].id+'">'+ 
                        '</div>'+

                        '<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">'+
                            '<h5>'+data[i].insight+'? </h5>'+
                            '<h4 style="margin: 2px; color: #113655; font-size: 18px;"><a href="/question/'+data[i].id+'/'+data[i].author+'"'+'style="color: #113655;">...</a></h4>'+
                        '</div>'
                    +'</div>'+
                     '<hr>'

                    +'<div class="modal fade" id="'+data[i].id+'" role="dialog">'+
                      '<div class="modal-dialog">'+
 
                        '<div class="modal-content">'+
                          '<div class="modal-header">'+
                            '<button type="button" class="close" data-dismiss="modal">&times;</button>'+
                            '<h4 class="modal-title">'+data[i].name+'</h4>'+
                          '</div>'+
                          '<div class="modal-body">'+
                            '<img id="userImg" src="'+data[i].userPic+'" alt="no image" style="height: 300px;">'+
                          '</div>'+
                          '<div class="modal-footer">'+
                            '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
                          '</div>'+
                        '</div>'+
                        
                      '</div>'+
                    '</div>'

          };

          $('#adviceContainer').html(html);

        }

      });

      var signOut = function(){
             console.log('Sign-Out function called');

                  var data = {
                      UserPoolId : 'us-west-2_GQQlNpQpu', // Your user pool id here
                      ClientId : '2fqeeg1m1vno4l5m4jn4n2gnjv' // Your client id here
                  };
                  var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(data);
                  var cognitoUser = userPool.getCurrentUser();

                  if (cognitoUser != null) {
                      cognitoUser.getSession(function(err, session) {
                          if (err) {
                             alert(err);
                          }
                          console.log('session validity: ' + session.isValid());
                          console.log(cognitoUser.username);

                          AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                              IdentityPoolId : 'us-west-2:f621a9ab-b4f6-454a-8fed-c2a4aa147af4', // your identity pool id here
                              Logins : {
                                  // Change the key below according to the specific region your user pool is in.
                                  'cognito-idp.us-west-2.amazonaws.com/us-west-2_GQQlNpQpu' : session.getIdToken().getJwtToken()
                              }
                          });
       
                         AWS.config.region = 'us-west-2';

                          cognitoUser.signOut();
                          AWS.config.credentials.clearCachedId();

                      });

                    };
      };
 
    })

  $(document).ready(function(){

      $('[data-toggle="toolMyAdvice"]').tooltip();
      $('[data-toggle="toolAdvice"]').tooltip();
      $('[data-toggle="toolVoiceAdvice"]').tooltip();
      $('[data-toggle="toolQuestions"]').tooltip();
      $('[data-toggle="toolSettings"]').tooltip();
      $('[data-toggle="toolFilter"]').tooltip();

  });

  </script>
   
</body>

</html>