<!DOCTYPE html>

<html>

<head>
  <title>pineadvice.com</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
<script src="/js/jquery.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.6.3.min.js"></script>
<script src="moment.min.js"></script>
<script type="text/javascript" src="jsbn.js"></script>
<script type="text/javascript" src="jsbn2.js"></script>
<script type="text/javascript" src="sjcl.js"></script>
<script type="text/javascript" src="aws-cognito-sdk.min.js"></script>
<script type="text/javascript" src="amazon-cognito-identity.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="app.js" ></script>
<script src="access.js" ></script>

</head>

<body>

<nav class="navbar navbar-default" style=" margin-bottom: 0px; margin-left: 0px; width: 100%;">

    <div class="container-fluid">
      
      <!-- Logo -->
      <div class="navbar-header">
          
<!--           <a href="#">
            <img style="height: 50px; padding-top: 5px; padding-left: 5px; padding-bottom: 10px;" alt="pineadvice.com" src="buza.png"></img>
          </a> -->
          
          <button style="color: #1b96fe;" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span style="background-color: #4da6ff" class="icon-bar"></span>
            <span style="background-color: #4da6ff" class="icon-bar"></span>
            <span style="background-color: #4da6ff" class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-left"></a>
      </div>

      <div class="collapse navbar-collapse" id="myNavbar" style="margin-top: 0px; padding-top: 0px;">

        <ul class="nav navbar-nav navbar-right" style="margin-top: 0px; padding-top: 0px;">

          <li><a href="/advice" data-toggle="collapse" data-target="#myNavbar">Share Advice</a></li>

          <li><a href="#" data-toggle="collapse" data-target="#myNavbar"><img style="height: 50px; padding-top: 0px; margin-top: 0px;" src="profile.png"></a></li>
      
          <li id="login"><a href="/login" data-toggle="collapse" data-target="#myNavbar">Sign In</a></li>

          <li id="signUp"><a href="signUp" class="btn w3-blue" style="color: #1b96fe;" data-toggle="collapse" data-target="#myNavbar">Sign Up</a></li>

          <li id="settings"><a href="/settings" data-toggle="collapse" data-target="#myNavbar"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a></li>

          <li id="signOut"><a href="#" data-toggle="collapse" data-target="#myNavbar">Sign Out</a></li>
 
        </ul>

      </div>

    </div>
  </nav>

  <div class="row">

    <div class="col-md-3 col-lg-3">

    <!--     <div>

          <a href="#">

          <video style="width: 100%; padding: 5px;" autoplay="autoplay" muted>
          <source src="jozi.mp4" type="video/mp4">
          Your browser does not support the video tag.
          </video>

          </a>

        </div>
        <hr>



        <div class="row hidden-xs" style="margin-left: 10px;">

            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
              <h6><B>Investment Opportunities</B></h6>
              <h6><b>Partnerships</b></h6>
              <h6><b>Local Brands</b></h6>
              <h6><b>Do you need funding?</b></h6>
            </div>
            
            <div class="hidden-xs col-sm-6 col-md-6 col-lg-6">
              <h6><b>Find Advisors</b></h6>
              <h6><b>Data</b></h6>
              <h6><b>Learn a language</b></h6>
            </div>

        </div> -->    
 
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="padding: 10px; margin-left: 10px;">
        <div>
          
            <form id="postAdviceForm" class="form-group">
                <div class="form-group"><textarea id="idAdvice" ng-model="content" class="form-control sans" placeholder="ask question here..." name="contentAdvice" type="text"></textarea>
                </div>

                <div class="row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <div id="demoTwo"><label for="Country"> Country: </label><br><select id="idCountry" name="countryFilter" ng-model="countryFilter"><option value="">None</option><option value="SouthAfrica">South Africa</option><option value="Nigeria">Nigeria</option><option value="Kenya">Kenya</option><option value="Brazil">Brazil</option><option value="India">India</option><option value="China">China</option></select><br></div>
                  </div>

                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                     <br>
                     <input id="postAdvice" type="submit" class="btn w3-blue w3-center" value="Ask Question"></input>
                  </div>
                </div>

            </form>
            <hr>

        </div>

      <div id="adviceContainer">
      </div>
 
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3 hidden-xs hidden-sm">    

    </div>

  </div>

  <script>

    $(function(){

      var socket = io.connect();
      var username;
      var userId;
      var name;
      var profilePicUrl;

      socket.emit('session', 'Get session');
      socket.emit('getQuestions', 'This is some data');  

      $('#login').show();
      $('#signUp').show();
      $('#signOut').hide();
      $('#settings').hide();

      var postAdviceForm = $('#postAdviceForm');
      var idAdvice = $('#idAdvice');
      var idCountry = $('#idCountry');

      $('#signOut').click(function(){
          signOut();
          setTimeout(function() {
            window.location.assign("/");
          }, 7000);
      });

    postAdviceForm.submit(function(e){
      console.log(username);
      e.preventDefault();
      console.log('button clicked');
      socket.emit('postQuestionEvent', {question: idAdvice.val(), country: idCountry.val(), username: username, userId: userId, name: name, profilePicUrl: profilePicUrl});
    });
 
      socket.on('gotQuestions', function(data){

        if (data.length > 0){

          console.log('This is the data');
          console.log(data);

          var html = '';
          
          for (i=0; i<data.length; i++){
            html += '<div class="row" style="margin: 0px;">'+

                        '<div class="col-xs-5 col-sm-5 col-md-4 col-lg-4" style="margin-bottom: 5px;">'+
                           '<h6>'+'<b><a href="/profile/'+data[i].author+'">'+data[i].name+'<a></b>'+'</h6>'+
                           '<img id="userImg" src="'+data[i].userPic+'" alt="no image" style="height: 65px;" data-toggle="modal" data-target="#'+data[i].id+'">'+ 
                        '</div>'+

                        '<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">'+
                            '<h5>'+data[i].insight+'? </h5>'+
                            '<h4 style="margin: 2px; color: #113655;"><a href="/question/'+data[i].id+'/'+data[i].author+'"'+'style="color: #113655;">More..</a></h4>'+
                        '</div>'
                    +'</div>'+
                     '<hr>'

                    +'<div class="modal fade" id="'+data[i].id+'" role="dialog">'+
                      '<div class="modal-dialog">'+
 
                        '<div class="modal-content">'+
                          '<div class="modal-header">'+
                            '<button type="button" class="close" data-dismiss="modal">&times;</button>'+
                            '<h4 class="modal-title">'+data[i].name+'</h4>'+
                          '</div>'+
                          '<div class="modal-body">'+
                            '<img id="userImg" src="'+data[i].userPic+'" alt="no image" style="height: 300px;">'+
                          '</div>'+
                          '<div class="modal-footer">'+
                            '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
                          '</div>'+
                        '</div>'+
                        
                      '</div>'+
                    '</div>'

          };

          $('#adviceContainer').html(html);

        }

      });

socket.on('GetUser', function(data){
    console.log('function returned');
    console.log(data);
    
    name =data.Username;
    profilePicUrl = data.profilePicUrl;

    localStorage.setItem('name', data.Username);
    localStorage.setItem('profilePicUrl', data.profilePicUrl);
});

socket.on('session', function(data){

          var data = {
              UserPoolId : 'us-west-2_GQQlNpQpu', // Your user pool id here
              ClientId : '2fqeeg1m1vno4l5m4jn4n2gnjv' // Your client id here
          };

          var userPool = new AWSCognito.CognitoIdentityServiceProvider.CognitoUserPool(data);

          var cognitoUser = userPool.getCurrentUser();

          if (cognitoUser != null) {
              cognitoUser.getSession(function(err, session) {
                  if (err) {
                     alert(err);
                  }

                  username = cognitoUser.username;

                  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
                      IdentityPoolId : 'us-west-2:f621a9ab-b4f6-454a-8fed-c2a4aa147af4', // your identity pool id here
                      Logins : {
                          // Change the key below according to the specific region your user pool is in.
                          'cognito-idp.us-west-2.amazonaws.com/us-west-2_GQQlNpQpu' : session.getIdToken().getJwtToken()
                      }
                  });

                  var useriduserid = '';
                  cognitoUser.getUserAttributes(function(err, result) {
                      if (err) {
                          return;
                      } else {
                          
                          userId = result[2].Value;

                          localStorage.setItem('userId', userId);
                          localStorage.setItem('username', username);

                          socket.emit('GetUser', userId);

                          $('#login').hide();
                          $('#signUp').hide();
                          $('#signOut').show();
                          $('#settings').show();
                          
                      }
                  }); 

              });          

            };
      });
           
    })

  $(document).ready(function(){

      $('[data-toggle="toolMyAdvice"]').tooltip();
      $('[data-toggle="toolAdvice"]').tooltip();
      $('[data-toggle="toolVoiceAdvice"]').tooltip();
      $('[data-toggle="toolQuestions"]').tooltip();
      $('[data-toggle="toolSettings"]').tooltip();
      $('[data-toggle="toolFilter"]').tooltip();

  });

  </script>
   
</body>

</html>